.layout {
	overflow: hidden;
	max-width: 100vw;
	min-height: 100vh;
	// height: 100%; // needed for ie11
	display: flex;
	flex-direction: column;

	&__main {
		display: flex;
    flex-direction: column;
		flex-grow: 1;
	}
}
